body {
    background-color: whitesmoke;
}

.signIn {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.signIn-form {
    width: 500px;
}

.signIn-form-title {
    background-color: #1f5661;
}

.signIn-form-btn {
    background-color: #1f5661;
    color: white;
}

