.profile {
    display: flex;
    justify-content: center;
}

.profile-inputs {
    padding: 10px 0 0;
    margin: 15px 20px 40px;
}

.profile-form-data, .profile-form-password {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding-bottom: 75px;
}

.profile-form-title {
    font-size: 20px;
    padding-bottom: 40px;
    width: 100%;
}

.profile-form-btn {
    background-color: #1f5661;
    color: white;
}

.profile-form-text {
    border: none;
    font-size: 18px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom: 20px;
    background: none;
    width: 100%;
}

.profile-form-input {
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 18px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom: 20px;
    background: none;
    width: 100%;
}

@media screen and (min-width: 520px) {
    .profile {
        padding-top: 30px;
    }

    .profile-form {
        width: 500px;
    }
}

@media screen and (max-width: 519px) {
    .profile-form {
        width: 100%;
        margin: 10px;
    }

    .profile-form-btn {
        flex: 1;
    }

    .profile-form-forget-password {
        flex: 1;
        text-align: center;
        margin: 0 10px;
    }
}