.home-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.home-section1-bloc1 {
    color: orangered;
}

.home-section1-bloc2 {
    color: dodgerblue;
}

.home-section1-bloc3 {
    color: #ffb300;
}

.home-section1-bloc4 {
    color: forestgreen;
}

.home-bloc-title {
    font-size: 16px;

}