/* FONTS */

@font-face {
    font-family: roboto;
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../font/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: roboto;
    src: url(../font/Roboto-Italic.ttf);
    font-style: italic;
}