.part-add-house{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 5px 5px 5px;
    background: white;
    height: 160px;
    width: 99%;
    margin: 100px 0 30px 10px;
    display: flex;
    flex-direction: row;
}
.form{
    display: flex;
    flex-direction: column;
}
.part-add-house-type{
    border: none;
    margin-left: 50px;
    font-size: 18px;
    margin-right: 50px;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
.bloc1{
    margin-bottom: 20px;
}
.type-option{
    font-size: 17px;
    padding: 3px 5px 3px 10px;
}
.type-option2{
    font-size: 18px;
}
.add-house-form-input {
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 18px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    background: none;
    margin-right: 45px;
}
.add-house-btn{
    margin-left: 80px;
    height: 40px;
}

.part-houses-table{
    position: sticky;
    margin-top: 40px;
    top : 70px;

}

.houses-table {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: baseline;
    padding: 10px;
    top: 70px;
}

.houses-tbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.houses-tr, .houses-td {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.houses-tr:first-child {
    border-bottom: 1px solid gray;
}

.houses-tr > .houses-td {
    padding: 5px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

.houses-th {
    flex: 1;
}

.houses-td:last-child, .houses-th:last-child {
    border-right: 1px solid gray;
}

.houses-title {
    background-color: #1d383e;
    color: white;
    font-weight: 800;
    padding: 10px;
}

.houses-search {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

.houses-search-input {
    width: 100%;
    border: none;
    padding: 5px;
}

.houses-colum-id {
    max-width: 150px;
    min-width: 150px;
}

.houses-colum-first_name, .houses-colum-last_name {
    min-width: 150px;
}
.houses-colum-address_line_1{
    min-width: 200px;
}

.houses-colum-email {
    min-width: 220px;
}

.houses-colum-phone {
    min-width: 200px;
}

