.design-textInput-classic {
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 18px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background: none;
    width: 100%;
}

.design-textInput-classic.error {
    border-bottom: 1px solid red;
}

.design-textInput-classic.error::placeholder {
    color: red;
    opacity: 0.5;
}

/* CLASSIC ANIMATION */

.design-textInput-classic.focus:not(.error) {
    animation: design-inputText-focus;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes design-inputText-focus {
    from {
        border-bottom: 1px solid lightgrey;
    }
    to {
        border-bottom: 1px solid gray;
    }
}

.design-textInput-classic.not-focus:not(.error) {
    animation: design-inputText-not-focus;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes design-inputText-not-focus {
    from {
        border-bottom: 1px solid gray;
    }
    to {
        border-bottom: 1px solid lightgrey;
    }
}