.design-sideNav {
    padding-top: 10px;
    width: 220px;
    height: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.design-sideNav-icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    opacity: 0.7;
}

.design-sideNav-hr {
    border: none;
    height: 0.1vh;
    background-color: gainsboro;
    opacity: 0.4;
    width: 100%;
    margin: 10px 0;
}

.design-sideNav-section-title {
    color: gray;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    width: 100%;
    padding: 10px 0 15px 20px;
}

.design-sideNav-link {
    width: 100%;
    padding: 10px 10px 10px 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.7;
    text-decoration: none;
    color: black;
}

.design-sideNav-link.current {
    color: black;
    font-weight: 700;
}

.design-sideNav-link:hover, .design-sideNav-sublink:hover {
    cursor: pointer;
}

/* LINK ANIMATION */

.design-sideNav-link.in, .design-sideNav-sublink.in {
    animation: design-sideNav-link-in;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.design-sideNav-link.out, .design-sideNav-sublink.out {
    animation: design-sideNav-link-out;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes design-sideNav-link-in {
    from {
        background: none;
    }
    to {
        background-color: #ddd;
    }
}

@keyframes design-sideNav-link-out {
    from {
        background-color: #ddd;
    }
    to {
        background: none;
    }
}