.sensors{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-sensor{
    display: flex;
    justify-content: center;
    width: 500px;
}

.sensor-dropdown{

}

.sensor-input{

}

.sensor-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room-table{
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.table-title{
    font-size: 20px;
    padding: 10px 25px 15px 0;
    width: 100%;
    color: gray;
}