.sensors{
    display: flex;
    justify-content: center;
}

.sensors-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-sensor{
    margin: 35px 0px 35px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-radius: 15px;
}

.new-sensor-form{

    display: flex;
    align-items: center;
}

.new-sensor-submit-btn{
    background-color: #1f5661;
    color: white;
    margin: 20px;
}

.dropdown{
    margin: 20px;
    border:none;
    border-bottom: 1px solid lightgrey;
    background: white;
    color:gray;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    cursor:pointer;
    font-size: 18px;
    width: 150px;
}


.sensor-input{
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 18px;
    margin: 20px;
    background: none;
    width: 85%;
}

.sensor-table{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/

    align-items: left;
}

.room-table{
    margin: 20px;
}

.table-title{
    font-size: 20px;
    padding: 10px 25px 35px 0;
    width: 100%;
    color: gray;
}

.table-title, .table-text{
    margin-left: 30%;
}

.table-input{
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 16px;
    background: none;
    width: 100%;
}

.delete-button{
    height: 20px;
    width: 20px;
}

td{
    padding: 5px 20px;
}

.switch-input {
    display: none;
}
.switch-label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    padding: 16px 0 16px 44px;
}
.switch-label:before, .switch-label:after {
    content: "";
    position: absolute;
    outline: 0;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.switch-label:before {
    left: 1px;
    width: 34px;
    height: 14px;
    background-color: #9E9E9E;
    border-radius: 8px;
}

.switch-label:after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FAFAFA;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

.switch-label .toggle--on {
    display: none;
}
.switch-label .toggle--off {
    display: inline-block;
}
.switch-input:checked + .switch-label:before {
    background-color: #9E9E9E;
}
.switch-input:checked + .switch-label:after {
    background-color: #1f5661;
    -ms-transform: translate(80%, -50%);
    -webkit-transform: translate(80%, -50%);
    transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
    display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
    display: none;
}