@media screen and (max-width: 430px) {
    .navConnected-web-title {
        display: none;
    }
}

/*TOP NAV*/

.navConnected-web-top {
    height: 60px;
    background-color: #1f5661;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.navConnected-web-left, .navConnected-web-right {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

.navConnected-web-left {
    justify-content: flex-start;
}

.navConnected-web-right {
    justify-content: flex-end;
    min-width: 260px;
}

.navConnected-web-logo {
    width: 40px;
    height: 40px;
}

.navConnected-web-logo-link {
    display: flex;
    margin-left: 20px;
    text-decoration: none;
    outline: none;
}

.navConnected-web-logo-link:active {
    border: none;
}

.navConnected-web-title {
    position: relative;
    font-size: 35px;
    color: white;
    margin-left: 5px;
}

.navConnected-web-lang-btn {
    color: white;
}

.navConnected-web-lang-btn {
    margin: 0 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.navConnected-web-lang-btn.in {
    color: #1f5661;
}

.navConnected-web-disconnect-btn {
    margin: 0 20px;
    background-color: #ffb300;
    color: #1f5661;
}

