.home-showcase-title {
    color: white;
    font-size: 24px;
    flex-wrap: wrap;
    overflow-wrap: normal;
    background: grey;
    height: 200px;
    word-wrap: break-word;
}

.home-text {
    margin-left: 10%;
    padding-top: 30px;
    word-wrap: break-word;
}

.home-title {
    color: #ffb300;
    font-size: 30px;

}

.home-link {
    text-align: right;
    color: blue;
}

.home-sub-nav {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    background-color: #1D383E;
    text-align: center;
    top: 60px;
}

.home-sub-nav-item-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    width: 100%;

}

.home-item-menu {
    padding: 10px;
}

.home-section {
    height: 700px;
}

#section1 {
    background: red;
}

#section2 {
    background: orange;
}

#section3 {
    background: green;
}

.home-footer {
    width: 100%;
    background-color: #1d383e;
    color: white;
    font-size: 19px;
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.home-footer-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.home-footer-left-links {
    display: flex;
    flex-direction: row;
}

.home-footer-left-links > a {
    text-decoration: none;
    color: white;
}

.home-footer-left-links-separator {
    margin: 0 5px;
}

.home-footer-left-copyright {
    color: gainsboro;
    font-size: 15px;
}

.home-footer-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-self: flex-end;
}

.home-footer-right-powered-by {
    font-size: 20px;
    margin-right: 5px;
}

.home-footer-right-logo > img {
    width: 160px;
}
