#section3 {
    align-items: center;
    padding: 20px;
}

.home-section3-title {
    text-align: center;
    font-size: 48px;
    margin: 20px 0;
    width: 100%;
    color: #1f5661;
}

.home-section3-bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 300px;
    height: 300px;
    margin: 20px;
    background-color: #e3e3e3;
    border-radius: 20px;
}

.home-section3-commentary {
    font-style: italic;
    margin: 0 20px 20px 25px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 19px;
    width: 90%;
}

.home-section3-people {
    font-weight: bold;
    font-size: 27px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 5px 25px;
    justify-content: center;
    color: #1f5661;
}

.home-section3-image {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}



