.home-section {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 20px 0 0 20px;
    background-color: white;
    margin: 0 20px 20px 0;


}

.home-title {
    text-align: center;
    text-indent : 250px;
    font-family: Roboto;
    font-size: 48px;
    margin-bottom: 55px;
}

.home-section3-bloc{
    flex: 1 1 300px;
    height: 300px;
    margin: 0 20px 20px 0;
}


.home-section3-commentary{
    font-style: italic;
    margin: 0px 20px 20px 25px;
    display:flex;
    flex-wrap:wrap;



}

.home-section3-people{
    font-style: bold;
    font-size:25px;
    display:flex;
    flex-wrap:wrap;
    margin: 20px 20px 5px 25px;
    justify-content: center;

}

.home-section3-image {
    font-style: bold;
    font-size:25px;
    display:flex;
    justify-content: center;
    align-items:center;
    width:85%;
    height:85%;

}



