nav{
    height: 50px;
    background-color: #1D383E;
}
/*nav:hover{
    transition: opacity .2s linear;
    opacity: 1;
}*/

.right{
    float: right;
    margin-right: 1%;
}

.logo{
    margin-left: 1%;
    width: 45px;
    height: auto;
}

.txt{
    position: relative;
    top: -5px;
    font-family: Roboto;
    font-size: 3em;
    color: white;
}

.flag{
    height: 45px;
    padding-right: 10px;
    /*opacity: 0;*/
}

