nav{
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: solid #ffb300;
    background-color: white;
}

nav img.logo{
    height: 40px;
}

nav span.txt{
    font-family: Roboto;
    font-size: 48px;
    padding-right: 720px;
}

nav img.flag{
    height: 45px;
    padding-right: 10px;
}

nav a.link{
    height: 40px;
    width: 140px;
    border-radius: 15px;
    border: 2px solid #1d383e;
    padding-left: 17px;
    padding-top: 7px;
    font-family: Roboto;
    font-size: 18px;
    color: black;
}